@CHARSET "ISO-8859-1";
.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
   -moz-font-feature-settings: 'liga';
   font-feature-settings: 'liga';
}
.chip {
  display: block;
  font-size: 14px;
  font-weight: bolder;
  color:black;
  line-height: 25px;
  padding: 0 12px;
  background-color: #FAFAFA;
  width:"100%";
  white-space:normal;
  border-left:3px solid #009688;
  word-wrap: break-word;
  box-shadow:2px 2px 3px #E0E0E0;
  margin: 3px;
  display:table;
}
.chip i.material-icons {
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}