@CHARSET "ISO-8859-1";
.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
   -moz-font-feature-settings: 'liga';
   font-feature-settings: 'liga';
}
.chip {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 25px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  width:"100%";
  white-space:normal;
  word-wrap: break-word;
  margin: 3px auto;
  display:table;
}
.chip i.material-icons {
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}