a i.reddel{
	color:#c62828;
}
span.listmemo{
	text-align:center;
	color:red;
}
li a i{ cursor: pointer; cursor: hand; }

.default-link{
	color:#E91E63;
	font-weight: bold;
}
.title{
	color:#FF5722; /*#004D40*/
}
span.rig-wrap{
	position: relative;	
}
.card{
	text-align:center;
}
span.badge.new{	
	color: blue;
	font-weight: bold;
	position : absolute;
	top: 22px;
	left: 1px;
	z-index : 1000;	
}
.cap_list{
	color:white;
	text-align:center;
	background-color:teal;
	height:50px;
}
.report{
	width:500px;
	height:500px;
	background-color:yellow;
	display:none;
}