.navbar{
	background-color:#00897b;
}
.panel-heading{
	color:white;
	background-color:#37BC9B;
}
.panel-body{
	
}
body{
	background-color:#F5F5F5;
}
a{
	color:white;
}
.modal-header{
	background-color:#00BCD4;
}
ul.nav li a.text{
	color: white;
}
.navbar-default .navbar-brand{
	color:white;
}
