.navbar{
	background-color:#00897b;
}
.panel-heading{
	color:white;
	background-color:#37BC9B;
}
.panel-body{
	
}
body{
	background-color:#F5F5F5;
}
a{
	color:white;
}
.modal-header{
	background-color:#00BCD4;
}
@media only screen and (min-width: 500px) {
    .collapse {
        display: block;
    }

    .navbar-header {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
     .collapse {
        display: none;
     }

     .navbar-header {
        display: block;
     }
}
