.navbar{
	background-color:#009688;
}
.navbar a{
	color:white;
}
.bg-primary{
	height:50px;
	text-align:center;
}
ul li{
    list-style-type: none;
}
a i.reddel{
	color:#c62828;
}
li a i{ 
	cursor: pointer;
 	cursor: hand;
 	margin-right:10px;
}
span.listmemo{
	text-align:center;
	color:red;
}